@import url('../../../variables.css');

.tela-carregamento {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo); 
  z-index: 1000;
}

.carregando {
  border: 8px solid var(--primaria); 
  border-top: 8px solid var(--fundo); 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: girar 1s linear infinite;
}

@keyframes girar {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
