.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-large {
  color: var(--cor-sobre-superficie);
  font-size: var(--fs-titulo-grande);
  font-weight: var(--peso-negrito);
  margin-bottom: -20px;
}

.descricao-famosos {
  color: var(--cor-texto);
  font-size: small;
  margin-top: 12px;
}

.slider-list {
  margin: 0 -20px;
  overflow-x: auto;
  padding-bottom: 16px;
}

.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider-list:hover::-webkit-scrollbar-thumb,
.slider-list:focus-within::-webkit-scrollbar-thumb {
  background-color: var(--fundo-banner);
}

.slider-list::-webkit-scrollbar-button {
  width: 20px;
}

.slider-inner {
  display: flex;
  gap: 16px;
}

.slider-inner::before,
.slider-inner::after {
  content: "";
  min-width: 4px;
}

.movie-list {
  padding-top: 32px;
}

.movie-card {
  position: relative;
  min-width: 200px;
  color: var(--cor-sobre-superficie);
}

.movie-card .card-banner {
  width: 200px;
}

.movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 8px 0 4px 0;
  color: var(--cor-sobre-superficie);
  font-size: var(--fs-titulo);
  font-weight: var(--peso-negrito);
}

.container-inative {
  position: relative;
  background-color: var(--superficie);
  padding: 24px 35px;
  padding-top: 0;
  margin-bottom: -40px;
}

.meta-list {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  position: absolute;
  inset: 0;
}

.estrelas {
  display: flex;
}

.estrela {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.fracionada {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}

.movie-card {
  text-decoration: none;
  color: inherit;
  display: block;
  transition: transform 0.3s ease;
}

.movie-card:hover {
  transform: scale(1.05);
}
