@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/* Importa a fonte do Google Fonts */

:root {
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: #313036;
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(356, 74%, 49%, 1);
  --primary-variant: rgb(146, 19, 28);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --banner-overlay: 90deg, hsla(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);
  --ff-dm-sans: "DM Sans", sans-serif;
  --ff-roboto: "Roboto", sans-serif;
  /* Fonte personalizada */
  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;
  --weight-bold: 700;
  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;
  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}

.header {
  position: relative;
  padding-block: 24px;
  padding-inline: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  box-shadow: var(--shadow-1);
}

.header .logo {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  text-align: center;
}

.navegar-text {
  color: var(--on-surface);
  font-size: var(--fs-body);
  font-weight: var(--weight-bold);
  margin-left: 16px;
}

.search-btn {
  padding: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity var(--transition-short);
}

.search-btn img {
  opacity: 0.5;
  transition: opacity var(--transition-short);
}

.search-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menu-btn {
  padding: 12px;
  background-color: var(--banner-background);
  border-radius: var(--radius-8);
  margin-right: auto;
  /* Move para a esquerda */
}

.menu-btn img {
  opacity: 0.5;
  transition: var(--transition-short);
}

.menu-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menu-btn .menu {
  display: block;
}

.menu-btn .close {
  display: none;
}

.menu-btn.active .menu {
  display: none;
}

.menu-btn.active .close {
  display: block;
}

.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  padding: 24px 16px;
  align-items: center;
  gap: 8px;
  z-index: 1;
  display: none;
}

.search-box.active {
  display: flex;
}

.search-wrapper {
  position: relative;
  flex-grow: 1;
}

.search-wrapper::before {
  content: "";
  width: 20px;
  height: 20px;
  border: 3px solid var(--white);
  border-radius: var(--radius-24);
  border-inline-end-color: transparent;
  animation: loading 500ms linear infinite;
  display: none;
}

.search-wrapper.searching::before {
  display: block;
}

.search-field {
  background-color: var(--banner-background);
  height: 48px;
  line-height: 48px;
  padding-inline: 44px 16px;
  outline: none;
  border-radius: var(--radius-8);
  transition: var(--transition-short);
  width: 100%;
}

.search-field:is(:focus, :valid) {
  box-shadow: var(--shadow-1);
}

.leading-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  margin: auto;
  width: 24px;
  height: 24px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--surface);
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition-short), visibility var(--transition-short);
  z-index: 7;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay-close {
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  color: var(--white);
  font-size: 5rem;
  cursor: pointer;
  transition: color var(--transition-short);
  padding: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-close:hover,
.overlay-close:focus {
  color: var(--primary);
}

.menu-overlay {
  position: relative;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  padding: 0px 80px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity var(--transition-long) ease-in-out;
  z-index: 8;
  font-family: var(--ff-roboto);
  border-radius: var(--radius-8);
}

.menu-overlay-logo {
  position: relative;
  padding: 0;
  margin: 0;
  top: 3.9vh;
  left: 9vh;
}

.menu-overlay.active {
  opacity: 1;
}

.menu-item {
  color: var(--white);
  font-size: 1.8rem;
  font-weight: var(--weight-bold);
  text-decoration: none;
  margin: 25px 0;
  transition: color var(--transition-short);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--primary);
}

.menu-section {
  box-shadow: 0px 2px 0px 0px rgb(60, 60, 60);
  padding: 20px;
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--surface);
  border-radius: var(--radius-4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1002;
  flex-direction: column;
  width: max-content;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-item {
  color: var(--on-surface);
  text-decoration: none;
  padding: 8px;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: var(--banner-background);
  border-radius: var(--radius-4);
}

.navegar-span {
  color: var(--text-color);
  font-size: var(--fs-label);
  font-weight: var(--weight-bold);
  display: block;
  margin-bottom: 10px;
}

.user-btn {
  padding: 12px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity var(--transition-short);
  display: flex;
  align-items: center;
}

.user-btn img {
  opacity: 0.5;
  transition: opacity var(--transition-short);
}

.user-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.hidden {
  display: none;
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 375px) {
  .menu-section {
    padding: 0px 0px 0px 10px;
  }
  .menu-item {
    margin: 20px 0px;
  }
  .menu-overlay-logo {
    left: 75px;
    top: 30px;
  }
}

@media (max-width: 352px) {
  .menu-section {
    padding: 0px 0px 0px 15px;
  }
  .menu-item {
    margin: 20px 0px;
  }
  .menu-overlay-logo {
    left: 75px;
    top: 30px;
  }
} 