.estrelas {
  display: flex;
}

.estrela {
  width: 16px; 
  height: 16px; 
  margin-right: 4px; 
  object-fit: contain; 
}

.fracionada {
  width: 8px; 
  height: 16px;
  object-fit: cover;
  opacity: 0.7; 
}


.empty {
  opacity: 0.3;  
}
