.message {
    position: fixed;
    top: 90%;
    right: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: #ffffff; /* Cor do texto para contraste */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0; /* Inicialmente invisível */
    transition: opacity 0.5s ease-in-out;
  }
  
  .message.show {
    opacity: 1;
  }

.cookie-popup {
  animation: slideUpCookie 0.7s cubic-bezier(0.23, 1, 0.32, 1);
}

.cookie-popup.fade-out {
  animation: fadeOutCookie 0.5s cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

@keyframes slideUpCookie {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes fadeOutCookie {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}
