@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "../../../variables.css";

:root {
  --raio-48: 48px;
  --ff-roboto: "Roboto", sans-serif;
}

.header {
  position: relative;
  padding-block: var(--raio-24);
  padding-inline: var(--raio-16);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--raio-8);
  box-shadow: var(--sombra-1);
}

.header .logo {
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 1;
  text-align: center;
}

.navegar-text {
  color: var(--cor-sobre-superficie);
  font-size: var(--fs-corpo);
  font-weight: var(--peso-negrito);
  margin-left: var(--raio-16);
}

.search-btn {
  padding: var(--raio-8);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity var(--transicao-curta);
}

.search-btn img {
  opacity: 0.5;
  transition: opacity var(--transicao-curta);
}

.search-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menu-btn {
  padding: var(--raio-8);
  background-color: var(--fundo-banner);
  border-radius: var(--raio-8);
  margin-right: auto;
}

.menu-btn img {
  opacity: 0.5;
  transition: var(--transicao-curta);
}

.menu-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.menu-btn .menu {
  display: block;
}

.menu-btn .close {
  display: none;
}

.menu-btn.active .menu {
  display: none;
}

.menu-btn.active .close {
  display: block;
}

.search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fundo);
  padding: var(--raio-24) var(--raio-16);
  align-items: center;
  gap: var(--raio-8);
  z-index: 1001; /* Aumente o z-index para garantir que fique na frente do banner */
  display: none;
}

.search-box.active {
  display: flex;
}

.search-wrapper {
  position: relative;
  flex-grow: 1;
}

.search-wrapper::before {
  content: "";
  width: var(--raio-24);
  height: var(--raio-24);
  border: 3px solid var(--branco);
  border-radius: var(--raio-24);
  border-inline-end-color: transparent;
  animation: loading var(--transicao-longa) linear infinite;
  display: none;
}

.search-wrapper.searching::before {
  display: block;
}

.search-field {
  background-color: var(--fundo-banner);
  height: var(--raio-36);
  line-height: var(--raio-36);
  padding-inline: 30px;
  outline: none;
  border-radius: var(--raio-8);
  transition: var(--transicao-curta);
  width: 100%;
}

.search-field:is(:focus, :valid) {
  box-shadow: var(--sombra-1);
}

.leading-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 90%;
  margin: auto;
  width: var(--raio-24);
  height: var(--raio-24);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(24, 23, 29, 0.7); /* overlay escuro translúcido */
  opacity: 0;
  visibility: hidden;
  transition:
    opacity var(--transicao-curta),
    visibility var(--transicao-curta);
  z-index: 100;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.overlay-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  color: var(--branco);
  font-size: 6rem; /* X bem maior */
  font-weight: bold;
  cursor: pointer;
  transition: color var(--transicao-curta);
  padding: 0;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 110;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0; /* volta para a esquerda */
  right: auto;
  width: 340px;
  max-width: 90vw;
  height: 100vh;
  background-color: var(--superficie);
  box-shadow: 2px 0 16px #0008; /* sombra para direita */
  border-radius: 0 18px 18px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 1;
  z-index: 101;
  font-family: var(--ff-roboto);
  padding: 36px 28px 24px 28px;
  transform: translateX(-100%);
  transition: transform var(--transicao-longa) cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-overlay.active {
  transform: translateX(0);
  opacity: 1;
}

.menu-overlay-logo {
  position: static;
  margin: 0 auto 32px auto;
  display: block;
  width: 200px;
  height: auto;
}

.menu-item {
  color: var(--branco);
  font-size: var(--fs-corpo);
  font-weight: var(--peso-negrito);
  text-decoration: none;
  margin: var(--raio-24) 0;
  padding: var(--raio-8) var(--raio-16);
  transition:
    color var(--transicao-curta),
    background-color var(--transicao-curta);
  border-radius: var(--raio-4);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--primaria);
  background-color: var(--fundo-banner);
}

.menu-section {
  padding: var(--raio-24);
  margin-top: var(--raio-48);
}

.dropdown {
  position: relative;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--superficie);
  border-radius: var(--raio-4);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  padding: 8px;
  z-index: 1002;
  flex-direction: column;
  width: max-content;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-item {
  color: var(--cor-sobre-superficie);
  text-decoration: none;
  padding: 8px;
  transition: background 0.3s;
}

.dropdown-item:hover {
  background-color: var(--fundo-banner);
  border-radius: var(--raio-4);
}

.navegar-span {
  color: var(--cor-texto);
  font-size: var(--fs-rotulo);
  font-weight: var(--peso-negrito);
  display: block;
  margin-top: var(--raio-24);
  margin-bottom: var(--raio-16);
}

.user-btn {
  padding: 4px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: opacity var(--transicao-curta);
  display: flex;
  align-items: center;
}

.user-btn img {
  opacity: 0.5;
  transition: opacity var(--transicao-curta);
}

.user-btn:is(:hover, :focus-visible) img {
  opacity: 1;
}

.hidden {
  display: none;
}

.menu-overlay-2 {
  position: fixed;
  top: 0;
  right: 0; /* menu user na direita */
  left: auto;
  width: 400px;
  max-width: 95vw;
  height: 100vh;
  padding: var(--raio-16);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
  transition: opacity var(--transicao-longa) ease-in-out;
  z-index: 102;
  font-family: var(--ff-roboto);
  border-radius: 18px 0 0 18px;
  background-color: var(--superficie);
  box-shadow: -2px 0 16px #0008;
}

.menu-overlay-2.active {
  opacity: 1;
}

.menu-overlay-logo-2 {
  position: static;
  margin: 0 auto 32px auto;
  display: block;
  width: 200px;
  height: auto;
  z-index: 9;
  margin-bottom: var(--raio-16);
}

.menu-item-2 {
  color: var(--branco);
  font-size: var(--fs-corpo);
  font-weight: var(--peso-negrito);
  text-decoration: none;
  transition:
    color var(--transicao-curta),
    background-color var(--transicao-curta);
  border-radius: var(--raio-4);
  cursor: pointer;
  padding: 5px;
}

.menu-item-2:hover,
.menu-item-2:focus {
  color: var(--primaria);
  background-color: var(--fundo-banner);
}

.menu-item-3 {
  color: var(--cor-texto);
  font-size: var(--fs-rotulo);
  font-weight: var(--peso-negrito);
  text-decoration: none;
  margin: var(--raio-4) 0;
  padding: var(--raio-8) var(--raio-4);
  transition:
    color var(--transicao-curta),
    background-color var(--transicao-curta);
  border-radius: var(--raio-4);
}

.menu-item-3:hover,
.menu-item-3:focus {
  color: var(--primaria);
  background-color: var(--fundo-banner);
}

.menu-section-2 {
  box-shadow: 0px 2px 0px 0px rgb(60, 60, 60);
  padding: var(--raio-24);
  margin-top: var(--raio-8);
}

.menu-item-button {
  color: var(--branco);
  font-size: var(--fs-corpo);
  font-weight: var(--peso-negrito);
  text-decoration: none;
  margin: var(--raio-24) 0;
  padding: var(--raio-8) var(--raio-16);
  transition:
    color var(--transicao-curta),
    background-color var(--transicao-curta);
  border-radius: var(--raio-4);
  background-color: var(--primaria);
  border: none;
  cursor: pointer;
}

/* Estilos para a lista de recomendações */
.recommendations {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: var(--fundo-banner);
  border-radius: var(--raio-8);
  box-shadow: var(--sombra-1);
  z-index: 1000; /* Aumente o z-index para garantir que fique na frente do banner */
  max-height: 300px;
  overflow-y: auto;
  margin-top: 8px;
}

.recommendation-item {
  display: flex;
  align-items: center;
  padding: var(--raio-8);
  gap: var(--raio-8);
  color: var(--branco);
  text-decoration: none;
  transition: background-color var(--transicao-curta);
}

.recommendation-item:hover {
  background-color: var(--fundo-banner);
}

.recommendation-item img {
  border-radius: var(--raio-4);
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .menu-section {
    padding: 40px;
  }
}

@media (max-width: 480px) {
  .menu-section {
    padding: 20px;
  }

  .menu-item {
    margin: 4px 0;
  }

  .menu-overlay-logo {
    width: 140px;
    margin-bottom: 18px;
  }

  .menu-overlay {
    left: 0;
    right: auto;
    width: 90vw;
    padding: 24px 10px 16px 10px;
  }

  .menu-overlay-2 {
    right: 0;
    left: auto;
    width: 95vw;
    padding: 18px 6px 12px 6px;
  }

  .menu-overlay-logo-2 {
    width: 140px;
  }

  .overlay-close {
    top: 10px;
    right: 10px;
    width: 48px;
    height: 48px;
    font-size: 2.6rem;
  }
}

@media (max-width: 375px) {
  .menu-section {
    padding: 10px;
  }

  .menu-item {
    margin: 15px 0;
  }

  .menu-overlay-logo {
    width: 120px;
    top: 20px;
  }

  .menu-overlay-logo-2 {
    width: 120px;
  }
}

@media (max-width: 384px) and (max-height: 744px) {
  .menu-section {
    padding: var(--raio-16);
  }

  .menu-item {
    margin: var(--raio-16) 0;
    padding: var(--raio-4) var(--raio-8);
  }

  .menu-overlay-logo {
    width: 120px;
    top: var(--raio-16);
  }

  .menu-overlay-logo-2 {
    width: 120px;
  }
}

@media (max-width: 384px) and (min-height: 744px) {
  .menu-overlay-logo {
    width: 120px;
    top: var(--raio-16);
  }

  .menu-overlay-logo-2 {
    width: 120px;
  }
}

@media (max-height: 711px) {
  .menu-overlay-logo {
    display: none;
  }
}

@media (min-width: 1080px) {
  .menu-btn {
    display: none;
  }

  .header {
    padding-block: 10px;
  }

  .logo {
    position: relative;
    left: -87.5%;
  }
}
