/* LoadingScreen.css */
@import url('../../variables.css'); /* Ajuste o caminho se necessário */

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--fundo); /* Usando a variável de fundo */
  z-index: 1000;
}

.spinner {
  border: 8px solid var(--primaria); /* Cor de fundo do spinner */
  border-top: 8px solid var(--fundo); /* Cor da borda superior do spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
