@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 20px;
  background-color: #98171f;
  color: white;
}

.footer__addr {
  flex: 1 100%;
  margin-bottom: 2em;
}

.footer__logo {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: lowercase;
}

.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.footer address {
  font-style: normal;
  color: #f0f0f0;
}

.footer__btn {
  display: inline-block;
  margin-top: 1em;
  padding: 10px 20px;
  background-color: #fff;
  color: #98171f;
  border-radius: 5px;
  text-decoration: none;
}

.footer__btn:hover {
  background-color: #f0f0f0;
  color: #98171f;
}

.footer__nav {
  display: flex;
  flex: 2 100%;
  margin-bottom: 2em;
}

.nav__item {
  flex: 1;
  margin-right: 20px;
}

.nav__title {
  font-size: 15px;
  margin-bottom: 10px;
}

.nav__ul {
  list-style: none;
}

.nav__ul li {
  margin-bottom: 10px;
}

.nav__ul a {
  color: #f0f0f0;
  text-decoration: none;
}

.nav__ul a:hover {
  text-decoration: underline;
}

.legal {
  flex: 1 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f0f0f0;
  border-top: 1px solid #e5e5e5;
  padding-top: 20px;
}

.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #f0f0f0;
  margin-left: 5px;
}

.social-icon {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-icon__item {
  list-style: none;
}

.social-icon__link {
  color: white;
  font-size: 24px;
  margin: 0 15px;
  transition: transform 0.3s ease-in-out;
}

.social-icon__link:hover {
  transform: translateY(-10px);
}

@media screen and (min-width: 600px) {
  .footer__nav {
    flex: 2;
    justify-content: space-between;
  }

  .legal__links {
    margin-left: auto;
  }
}
