.estrelas {
  display: flex;
}

.estrela {
  width: 16px; 
  height: 16px; 
  margin-right: 4px; 
}

/* Estilização para a estrela fracionada */
.fracionada {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  object-fit: cover;
}

/* Estilização para estrelas vazias (opcional) */
.empty {
  opacity: 0.3; /* Ajuste a opacidade para dar um efeito de estrela vazia */
}
