.estrelas {
  display: flex;
}

.estrela {
  width: 16px; /* Ajuste o tamanho conforme necessário */
  height: 16px; /* Ajuste o tamanho conforme necessário */
  margin-right: 4px; /* Espaçamento entre as estrelas */
}

.fracionada {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
