:root {
  --background: hsla(220, 17%, 7%, 1);
  --banner-background: hsla(250, 6%, 20%, 1);
  --white-alpha-20: hsla(0, 0%, 100%, 0.2);
  --on-background: hsla(220, 100%, 95%, 1);
  --on-surface: hsla(250, 100%, 95%, 1);
  --on-surface-variant: hsla(250, 1%, 44%, 1);
  --primary: hsla(356, 74%, 49%);
  --primary-variant: rgb(146, 19, 28);
  --rating-color: hsla(44, 100%, 49%, 1);
  --surface: hsla(250, 13%, 11%, 1);
  --text-color: hsla(250, 2%, 59%, 1);
  --white: hsla(0, 0%, 100%, 1);

  --banner-overlay: 90deg, hsla(220, 17%, 7%) 0%, hsla(220, 17%, 7%, 0.5) 100%;
  --bottom-overlay: 180deg, hsla(250, 13%, 11%, 0), hsla(250, 13%, 11%, 1);

  --ff-dm-sans: 'DM Sans', sans-serif;

  --fs-heading: 4rem;
  --fs-title-lg: 2.6rem;
  --fs-title: 2rem;
  --fs-body: 1.8rem;
  --fs-button: 1.5rem;
  --fs-label: 1.4rem;

  --weight-bold: 700;

  --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
  --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;

  --transition-short: 250ms ease;
  --transition-long: 500ms ease;
}

.title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title-large {
  color: var(--on-surface);
  font-size: var(--fs-title-lg);
  font-weight: var(--weight-bold);
  margin-bottom: -20px;
}

.descricao-famosos {
  color: var(--text-color);
  font-size: small;
  margin-top: 0;
}

.slider-list {
  margin: 0 -20px;
  overflow-x: auto;
  padding-bottom: 16px;
}

.slider-list::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.slider-list:hover::-webkit-scrollbar-thumb, 
.slider-list:focus-within::-webkit-scrollbar-thumb {
  background-color: var(--banner-background);
}

.slider-list::-webkit-scrollbar-button {
  width: 20px;
}

.slider-inner {
  display: flex;
  gap: 16px;
}

.slider-inner::before, 
.slider-inner::after {
  content: "";
  min-width: 4px;
}

.movie-list {
  padding-top: 32px;
}

.movie-card {
  position: relative;
  min-width: 200px;
  color: var(--on-surface);
}

.movie-card .card-banner {
  width: 200px;
}

.movie-card .title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 8px 0 4px 0;
  color: var(--on-surface);
  font-size: var(--fs-title);
  font-weight: var(--weight-bold);
}

.container-inative {
  position: relative;
  background-color: var(--surface);
  padding: 24px 35px;
  padding-top: 0;
  margin-bottom: 40px;
}

.meta-list {
  display: flex;
  justify-content: space-between;
}

.card-btn {
  position: absolute;
  inset: 0;
}

.estrelas {
  display: flex;
}

.estrela {
  width: 16px; 
  height: 16px; 
  margin-right: 4px; 
}

.fracionada {
  clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
}
